
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color-a:rgb(12, 22, 18);
    --color-b:rgb(26, 37, 22);
}

body{
    font-family: monospace; 
    background-color: var(--color-a);
    color: white;
    box-sizing: border-box;
}

h2{
    font-size: clamp(16px,2vw,3vw);
    text-align: center;
    margin-bottom: 4px;
    color:rgba(3, 20, 0, 0.788);
    animation: light 5s steps(30) infinite ;
}
@keyframes light {
  5%{color: #9bf777;text-shadow:0px 0px 11px#91ff00;}
  10%{color: #95e600;text-shadow:0px 0px 6px#91ff00;}
  20%{text-shadow:0px 0px 6px#91ff00;color: #a2ff00;}
  40%{text-shadow:0px 0px 2px#91ff00;}
  50%{text-shadow:0px 0px 4px#91ff00;color: #a2ff00;}
  60%{color: #a2ff00;}
  96%{color: #0f1d00;}
}
a{
    color: #9dff00;;
    text-decoration: none;
}
a:link{
    color: white;
}

  a:hover{
    color: rgb(51, 255, 0);
    text-shadow: 0px 0px 2px rgb(81, 255, 0);

  }

  #nav{
    display: flex;
    top: 0;
    position: fixed;
    width: 100%;
    height: 70px;
    font-family: monospace; 
    font-size: clamp(2rem,2rem,60px);
    color: #9dff00;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 2px 4px rgb(21, 36, 1);
    background-color: rgba(5, 10, 3, 0.88);
  }

  #nav span{
    animation: parpadeo 2s steps(22) forwards ;
  }



  #principal{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    width: 100%;
    align-items: center;
    height: calc(100vh - 90px);
  }

  #sobre-mi{
    padding: 14px;
    font-size: clamp(0.7rem, 1vw, 2vw);
    display: flex;
    flex-direction: column;
    background-color: var(--color-a);
    height: 30vh;
    max-width: 60%;
    width: auto;
  }

  #habilidades{
    font-size: clamp(0.7rem,20px,2vw);
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
    background-color: var(--color-a);
    height: auto;
    max-height: 50vh;
    gap: 10px;
    width: 80%;
    min-width:80%;
  }

  .divHabilidades{
    text-align: center;
    border-radius: 10px;
    font-size: clamp(20%,16px,80%);
    background-color:var(--color-b);
    padding: 5px;
    height: fit-content;
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
    transition: 0.7s;
  }

  .divHabilidades:hover{
    height: 100%;
    color: rgb(166, 255, 0);
    background-color:rgba(0, 0, 0, 0.267);
    transition:0.3s ease;
  }

  #skills{
    display: flex;
    background-color:var(--color-a);
    height: 22vh;
    width: 100%;
  }

  #tecnologias{
    display: flex;
    background-color:rgba(0, 0, 0, 0.562);
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding-top: 15px;
    margin-bottom: 10px;
    border: transparent;
    height: auto;
    max-height: 22vh;
    width: 100%;
    }

    #tecnologias span{
      font-size: clamp(16px,2vw,3vw);
      text-align: center;
      margin-bottom: 20px;
      color: #bbff00;
    }

    #tecnologias a{
      margin-bottom: 20px;
      color: #ffffff;
    }

  #gridimagenes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 80%;
    max-width: 250px;
    justify-content: center;
  }
  
  #gridimagenes img {
    width: 100%;
    margin-bottom:10px;
    filter: saturate(0);
    height: auto; 
    aspect-ratio: 1 / 1; /* Mantiene las imágenes cuadradas */
    object-fit: contain; 
    background-color: rgba(255, 255, 255, 0.11); 
    padding: 5px;
    animation: up 2s steps(22) infinite alternate;
    border-radius: 60px; 
  }

@keyframes up {
  0% { opacity: 60%; }
  50% { opacity: 20%; }
  100% { opacity: 100%; }
}



  #gridimagenes img:hover {
    filter: sepia(2) hue-rotate(34deg) saturate(5);
    background-color: #fbff0025;
    transition: 1s;
    animation: parpadeo 0.1s steps(22) infinite alternate,
               glitch 0.2s steps(22) infinite alternate,
               skew 0.5s steps(26) infinite alternate;
}

@keyframes parpadeo {
    0% { opacity: 60%; }
    50% { opacity: 20%; }
    50% { opacity: 90%; }
    100% { opacity: 100%; 
    text-shadow: 1px 1px 7px#b3ff00;}
}
@keyframes tamaño {
  0% { width: 65px; }
  20% {width:63px}
  50% { width: 66px; }
  70% { width: 69px; }
  100% { width: 65px; }
  
}

@keyframes glitch {
    0% { transform: translate(0, 0); }
    25% { transform: translate(1px, -1px); }
    50% { transform: translate(-1px, 1px); }
    75% { transform: translate(1px, -1px); }
    100% { transform: translate(0, 0); }
}
  #proyectos{
    padding: 4px;
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    display: inline-block;
  }
  
  .text {
    font-size: clamp(1vw, 3vw, 4vw);
    color: rgb(43, 255, 0);
    white-space: nowrap;
    overflow: hidden;
    text-shadow: 1px 1px 6px#48ff00;
    border-right: 4px solid rgb(0, 255, 34);
    width: 0; 
    animation: typing 2.5s steps(22, end) forwards, 
               blink 0.6s infinite;
    letter-spacing: 0;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 85%;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }