body{
    background-color: rgb(139, 140, 141);
    padding: 0;
    margin: 0;
}
h2{
    color:rgb(179 0 255);
    margin: 0;
}
#info{
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100vw;
}
#nombre{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 4px 4px 6px; /*Arriba - Derecha - Abajo - Izquierda*/
    border: 1px transparent;
    border-radius: 14px;
    text-shadow: 2px 2px 3px rgb(31, 1, 28);
    color: rgb(211 186 230);
    background-color: rgb(41 3 60 / 88%);
    height: calc(10vh - 6px);
    width: calc(100vw - 8px);
    flex-direction: row;

}
h1{
    display: flex;
    width: fit-content;

}
#gif{
    display: flex;
    margin-left: 20px;
    width: 8%;
    height: 50px;

}
#base{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color:rgba(12, 2, 22, 0.884);
    display: flex;
    justify-content: center; /*alinear verticalmente*/
    align-items: center; /*Alinear horizontalmente*/
    flex-direction: column;
}

#habilidades{
    border: 1px transparent;
    border-radius: 14px;
    margin-left: 4px;
    margin-right: 4px;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: start;
    flex-direction: column;
    background-color: rgba(68, 54, 76, 0.884);
    overflow: auto;
    height: 100% ;
    flex: 1.3;

}
#estudios:hover,#cualidades:hover,#contacto:hover,#idiomas:hover,#libreta:hover,#fing:hover,#tecnologias:hover{
    border: 1px solid;
    color: rgb(255, 0, 238);
    border-radius: 10px;
    background-color: rgb(56, 14, 95);
    border-color:rgb(170, 0, 255) ;
}
#fran{
    margin-top: auto;
    display: flex;
    max-width: 100%;
    height: auto;
    min-height: 45%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    justify-self:flex-end
}
#franimg{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;   
}
#experiencia{
    margin-left: 2px;
    border: 1px transparent;
    border-radius: 14px;
    margin-right: 4px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background-color:rgb(72 64 75);
    height: 100%;
    flex: 5;

}
#fing{
    display: flex;
    flex-direction: column;
    margin-left: 3px;
}
#tecnologias{
    display: flex;
    flex-direction: column;
    margin-left: 3px;

}
#estudios,#cualidades,#contacto,#idiomas,#libreta{
    margin-bottom: 14px;
    height: fit-content;
    margin-left: 4px;
    display: flex;
    flex-direction: column;
}